.services-section {
  padding: 40px 24px;
  background-color: #f9f9f9;
}

.services-header {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.services-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.services-row-reverse {
  flex-direction: row-reverse;
}

.services-column {
  flex: 1;
}

.services-text {
  flex-basis: 65%;
}

.services-image {
  flex-basis: 35%;
  text-align: center;
}

.services-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: darkblue;
}